.property_details {
  width: 100%;
}

.property_details_inner {
  width: 70%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 5em;

  @media screen and (max-width: 50rem) {
    width: 80%;
    margin: 3rem auto;
  }

  a {
    text-decoration: none;
    color: white;
  }

  img {
    width: 100%;
  }

  .property_details {
    .share_btn {
      margin-left: 1rem;
    }

    h3 {
      text-align: center;
      font-size: 3rem;
    }

    @media screen and (max-width: 40rem) {
      h3 {
        font-size: 1.5rem;
      }
    }
    .service_specification {
      margin-top: 1rem;

      h2 {
        margin: 3rem 0 1rem 0;
      }
      p {
        margin-top: 1rem;
      }
    }

    .details_btns {
      display: flex;

      button {
        width: 50%;
        background-color: coral !important;
        margin: auto;
      }
    }

    .service_price {
      margin: 1rem 0;
      display: flex;
      justify-content: space-around;
    }

    .service_details {
      margin: 1rem 0;

      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: yellow;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
